Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
.lock
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.sdf
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
bc*/Makefile
bc*/relman.h
bc*/version.cpp
bc*/version.h
*.cm.txt
.relman.conf
.rbuild.conf
.nfs*
*.vcproj.alpha
*.vcproj.bk
fe_co_libs.cmd
fe_co_libs_rm.cmd
moc_*
qrc_*
ui_*
!*OperationsCenter_UILib/src/bc0005/GeneratedFiles/ui_*
ATS.ini
*.vcproj.rman
